<!DOCTYPE html>
<html>
<head>
	<title>Gabe Joseph | Resume</title>
	<link rel="stylesheet" href="rules.css" />
	<link rel="stylesheet" href="resume.css" />
	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script src="resume.js"></script>

</head>
<body ng-app="resume">
	<div id="contact">
		<h2><a href="index.html">Gabe Joseph</a></h2>
		<p><a href="mailto:gjoseph92@gmail.com">gjoseph92@gmail.com</a><tel>415.419.4841</tel></p>
	</div>
	<div id="resume" ng-controller="resume" ng-cloak>
		<h3 class="res-heading" id="res-education">Education</h3>
		<ul class="res-section" id="res-tufts">
			<li><a href="http://www.tufts.edu" class="subtle">Tufts University</a>, 2015</li>
			<li>B.S. Computer Science, 3.67 (magna cum laude)</li>
			<li>Minor in Geological Sciences</li>
		</ul>

		<h3 class="res-heading">Relevant Courses</h3>
		<ul class="res-description">
			<li>
				<span ng-repeat="course in courses | shouldShow:filter">
					<span ng-class="{highlight: shouldHighlight(course)}">{{course.text}}</span><span ng-if="!$last">,</span>
				</span>
			</li>
		</ul>


		<h3 class="res-heading">Experience</h3>
		<ul class="res-section">
			<li ng-repeat="experience in experiences | shouldShow:filter">
				<div class="res-section-heading">
					<span class="res-employer">
						<a class="subtle" target="_blank" ng-href="{{experience.link}}">{{experience.place}}</a>, </span>
					<span class="res-pos-date">
						<span class="res-position">{{experience.position}}</span>
						<span class="res-date">{{experience.dates}}</span>
					</span>
				</div>
				<ul class="res-description">
					<li ng-repeat="item in experience.items  | shouldShow:filter">
						<span ng-class="{highlight: shouldHighlight(item)}">{{item.text}}</span>
					</li>
				</ul>
			</li>
		</ul>

		<h3 class="res-heading">Skills</h3>
		<ul class="res-section">
			<li ng-repeat="(skillCategory, skill) in skills">
				<span class="res-employer">{{skillCategory}}:</span> 
				<span ng-repeat="item in skill  | shouldShow:filter">
					<span ng-class="{highlight: shouldHighlight(item)}">{{item.text}}</span><span ng-if="! $last">, </span>
				</span>
			</li>
		</ul>

		<h3 class="res-heading">Leadership</h3>
		<ul class="res-section">
			<li ng-repeat="experience in leadership  | shouldShow:filter">
				<span class="res-employer">
					<a class="subtle" target="_blank" ng-href="{{experience.link}}">{{experience.place}}</a>,</span>
				<span class="res-position">{{experience.position}}</span>
				<span class="res-date">{{experience.dates}}</span>

				<ul class="res-description" ng-if="experience.items">
					<li ng-repeat="item in experience.items | shouldShow:filter">
						<span ng-class="{highlight: shouldHighlight(item)}">{{item.text}}</span>
					</li>
				</ul>
			</li>
		</ul>

	</div>
</body>
</html>
