div#contact { float: left;
	 		  width: 260px; 
			  border: 15px; }
div#resume { float: left;
			 position: relative;
			 width: 70%; }
			
h3.res-heading { margin: 0em;
				 margin-top: 0.2em;
	 			 margin-bottom:0.2em;
	 			 color: #C10E09; }
			
ul.res-section { list-style: none;
				 margin: 0;
				 margin-bottom: 1em;
				 padding: 0;}

.res-section-heading {
	display: flex;
	flex-wrap: wrap;
}
.res-pos-date {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}
				
ul.res-description { list-style: none;
					 margin-bottom: 0.8em;
					 font-weight: 300; }
					
.res-description li { border-left: 1px solid #C0C0C0;
	 				  padding-left: 5px; }
	
.res-employer { font-weight: bold;
				margin-right: 0.4em }
.res-position { }
.res-date { float: right;
	 		clear: bottom; }
.res-date-seperator { word-spacing: 2em; }

#contact tel { display: none; }

.highlight { background-color: #fbe772;
		   border: 0.5px solid #ceb107;
		   border-radius: 3px;
		   transition: background-color 0.05s; }
.highlight:hover { background-color: rgb(255, 204, 0); }

@media print {
	body {
		width: 7.5in;
		/*height: 10.5in;*/
		/*border: 1px solid black;*/
		padding: 5px;
		margin: 0px;
		/*font-size: 11pt;*/
		line-height: 1.5em;
		-webkit-print-color-adjust: exact;
	}

	#contact {
		width: 100% !important;
	}
	#contact > h2 {
		float: left;
		display: inline-block;
		font-size: 48px;
	}
	#contact > p {
		float: right;
		display: inline-block;
		font-size: 21px;
		margin: 21px 5px 0 0;
		font-weight: 300;
	}
	#resume {
		width: 100% !important;
	}

	#res-education { display: none; }

	#res-tufts > li { display: inline-block; }
	#res-tufts > li:first-child:after { content: " | "; }

	.res-section {
		margin-bottom: 0.8em !important;
		/*page-break-inside: avoid;*/
	}

	#contact tel { display: inline; }
	#contact tel:before { content: " | "; }

}